<%= render partial: "shared/notice" %>
<div class="container">
	<div class="row" style="text-align: center">
		<h1>Log In</h1>
	</div>
	<div class="row">
		<%= render partial: "form", locals: {} %>
	</div>
</div>