<footer class="container">
	<div class="row">
		<a href="https://github.com/DonIsaac" target="blank">
			<span class="social-icon">
				<%= image_tag image_path 'github_logo.svg' %>
			</span>
		</a>
	</div>
	<div class="row justify-content-center">
		<h5>Copyright &copy; 2019 Donald Isaac. All Rights Reserved.</h5>
	</div>
</footer>