<div class="jumbotron">
  <div class="container title">
    <h1>Welcome to Taskr</h1>
	<br />
	<br />
    <p>Taskr is the task list website to meet all your tasking needs.</p>
    <br />
    <p><a class="btn btn-primary btn-lg" href="<%= new_user_path %>" role="button">Sign Up</a></p>
  </div>
</div>
<div class="container">
	<div class="row" style="text-align: center">
		<h1>Check Out These Sick Features!</h1>
	</div>
  <div class="row">
	<div class="col-sm-4 col-xs-12 feature-box">
		<h3>Create Task Lists</h3>
		<hr />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque 
			finibus leo pulvinar, porta metus vitae, eleifend dolor. Integer 
			arcu risus, volutpat ac euismod eget, tristique quis lectus. Aenean 
			ac arcu nec lectus maximus tempus sit amet id nibh. Nulla ac leo
			maximus, commodo mauris nec, congue urna. Orci varius natoque
			penatibus et magnis dis parturient montes, nascetur ridiculus
			mus. Sed eu libero sapien. Ut mattis justo nec turpis dapibus,
			a dignissim urna dictum. Nullam sagittis dignissim magna, quis
			vestibulum elit. Curabitur pellentesque metus at tempor
			pellentesque. Morbi pellentesque nibh turpis, vitae mattis
			lorem laoreet tempor. Nulla tincidunt mauris ut vestibulum ultricies.
			Phasellus et odio neque. Sed commodo, magna vel facilisis imperdiet,
			purus nibh vehicula ex, placerat tempus turpis orci id nisi.
		<p>
	</div>
	<div class="col-sm-4 feature-box">
		<h3>Categorize Your Lists</h3>
		<hr />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque 
			finibus leo pulvinar, porta metus vitae, eleifend dolor. Integer 
			arcu risus, volutpat ac euismod eget, tristique quis lectus. Aenean 
			ac arcu nec lectus maximus tempus sit amet id nibh. Nulla ac leo
			maximus, commodo mauris nec, congue urna. Orci varius natoque
			penatibus et magnis dis parturient montes, nascetur ridiculus
			mus. Sed eu libero sapien. Ut mattis justo nec turpis dapibus,
			a dignissim urna dictum. Nullam sagittis dignissim magna, quis
			vestibulum elit. Curabitur pellentesque metus at tempor
			pellentesque. Morbi pellentesque nibh turpis, vitae mattis
			lorem laoreet tempor. Nulla tincidunt mauris ut vestibulum ultricies.
			Phasellus et odio neque. Sed commodo, magna vel facilisis imperdiet,
			purus nibh vehicula ex, placerat tempus turpis orci id nisi.		</p>
	</div>
	<div class="col-sm-4 feature-box">
		<h3>Manage Your Lists</h3>
		<hr />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque 
			finibus leo pulvinar, porta metus vitae, eleifend dolor. Integer 
			arcu risus, volutpat ac euismod eget, tristique quis lectus. Aenean 
			ac arcu nec lectus maximus tempus sit amet id nibh. Nulla ac leo
			maximus, commodo mauris nec, congue urna. Orci varius natoque
			penatibus et magnis dis parturient montes, nascetur ridiculus
			mus. Sed eu libero sapien. Ut mattis justo nec turpis dapibus,
			a dignissim urna dictum. Nullam sagittis dignissim magna, quis
			vestibulum elit. Curabitur pellentesque metus at tempor
			pellentesque. Morbi pellentesque nibh turpis, vitae mattis
			lorem laoreet tempor. Nulla tincidunt mauris ut vestibulum ultricies.
			Phasellus et odio neque. Sed commodo, magna vel facilisis imperdiet,
			purus nibh vehicula ex, placerat tempus turpis orci id nisi.
		</p>
	</div>
  </div>
</div>

