html {
  height: 100%;
}
body {
  padding-top: 50px;
  min-height: 90%;
}

#main {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, li {
	font-family: verdana, arial, helvetica, sans-serif

}


header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

footer {
	//position: absolute;
	//bottom: 0;
	//left: 0;
	//right: 0;
  border-top: 1px solid black;
  height: 100px;
  width: 100%;
	margin-top: 2em;
	margin-bottom: 1em;
}
footer > .row {
	text-align: center;
}
.social-icon {
	display: inline-block;
	padding: 1%;
}
.feature-box {
}
.feature-box > h3 {
	text-align: center;
}

/*
body {
  background-color: #fff;
  color: #333;
  // margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 21px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.label {
  color: #000;
}
*/